body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(75, 75, 75);
}
/* header start  */

.header{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-bottom:  rgba(123, 120, 161, 0.13) solid 1px;
}

#logo{
  color: #4761A3;
  text-decoration: none;
}

.logo{
  display: grid;
  align-content: center;
  padding-left: 20px;
 }

 .header button{
  background-color: #4761A3;
  color: #ffffff;
  width: 95px;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  margin-left: 30px;
 }

  .header li{
    font-size:1.1em;
    display:inline-block;
  }

  #heart ,#shop{
    color: #4761A3;
    padding: 10px;

  }

  #logout{
    color: rgb(51, 51, 51);
    padding: 10px;

  }

  #logout:hover{
    color:#4761A3
  }

  #heart:hover{
    color:rgb(160, 23, 23);
  }
  #shop:hover{
    color:rgb(185, 92, 16);
  }

  /* header end */

.container{
  margin-top: 9%;
  margin-left:20%;
  padding:1px 16px;
}

/* filter style start */
.filter{
  width: 270px;
  height: 100%;
  position: fixed;
  padding-top: 6%;
  left: 0;
  top: 0;
  background: #ffffff;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  border-top: 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 50px 230px 210px auto auto;
}

.form-1 , .form-2 {
  padding: 0px 20px;
  border-bottom: rgba(123, 120, 161, 0.13) solid 1px;
  font-size: 14px;
}

.form-3{
  display: grid;
}
#filtering{
  padding: 10px;
  width: 100px;
  height: 40px;
  justify-self: center;
  margin: 20px 0;
  background-color: #4761A3;
  border-radius: 15px;
  color: #ffffff;
  border: 0px;
}
#filtering:hover{
  background-color: #778fcc;
}

button , .card img , .card h3 , .wishcard img , .wishcard h3{
  cursor: pointer;
}

label {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  padding: 5px;
}
/* filter style end */
/* Admin page card start */
.cards2{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  margin: 3% 0 0 0;
  row-gap: 35px;
}
.card2{
  width: 280px;
  /* height: 350px; */
  background: #ffffff;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  border-radius: 30px;
  display: grid;
  padding: 20px;
  margin-left: 50px;
  margin-top: 10%;
}
.card2:hover{
  box-shadow: 0px 10px 8px 0 rgba(0,0,0,0.2);
}

.card2 h3{
  font-size: 18px;
}
.card2 p{
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 270px; 
  height: 1.2em; 
  white-space: nowrap;
  font-size: 14px;
}

.card2 img {
  width: 230px;
  justify-self: center;
}

.PriceAndBtn2{
  display: grid;
  grid-template-columns: 90px auto;
}

#price2{
  /* margin-left: 30%; */
  font-weight: 700;
}

#cart2{
  background-color: #4761A3;
  color: #ffffff;
  width: 95px;
  height: 30px;
  justify-self: end;
  align-self: center;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 0px
}
#cart2:hover{
  background-color: #607cc4;

}

/* Admin page card end */
/* cards style start */
.cards{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  margin: 3% 0 0 0;
  row-gap: 35px;
}

.card{
  width: 280px;
  /* height: 350px; */
  background: #ffffff;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  border-radius: 30px;
  display: grid;
  padding: 20px;
}
.card:hover{
  box-shadow: 0px 10px 8px 0 rgba(0,0,0,0.2);
}

.card h3{
  font-size: 18px;
}
.card p{
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 270px; 
  height: 1.2em; 
  white-space: nowrap;
  font-size: 14px;
}

.card img , .wishcard img{
  width: 230px;
  justify-self: center;
}

.PriceAndBtn{
  display: grid;
  grid-template-columns: 90px auto;
}

#price{
  /* margin-left: 30%; */
  font-weight: 700;
}

#cart{
  background-color: #4761A3;
  color: #ffffff;
  width: 95px;
  height: 30px;
  justify-self: end;
  align-self: center;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 0px
}
#cart:hover{
  background-color: #607cc4;

}

/* cards style end */

/* search style start */
.search{
  display: grid;
}

#srch{
  justify-self: center;
  width: 50%;
  padding: 16px 30px;
  font-size: 15px;
  border-radius: 30px;
  background: #f0f0f048;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  color: rgb(106, 105, 109);
}
/* search style end */

/* Forms Styling start */
/* * {
  margin: 0;
  padding: 0;
} */

/* background page */
.container2 {
  background: rgb(255, 255, 255);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Box  */
.app-wrapper {
  margin-top: 5%;
  background-color: #fff;
  min-width: 450px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  box-shadow: rgba(0, 0, 0, 0.041) 0px 19px 38px,
  rgba(0, 0, 0, 0.034) 0px 15px 12px;

  display:block;
}
.title {
  color: black;
  text-align: center;
  margin: 80px 0px 40px 0px;
}
.message {
  margin: 50px 0 0;
  color: #8f8f8f;
  font-size: 15px;
  text-align: center;
}
.message a {
  color: #4761A3;
  text-decoration: none;
  cursor: pointer;
}
.username,
.password {
  margin: 20px;
  color: rgb(10, 10, 6);
  font-size: 16px;
}
.password {
  margin-bottom: 40px;
}
.input {
  height: 32px;
  font-size: 15px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}
.error {
  color: red;
  
}

.error-msg{
  color: red;
  text-align: center;
  font-size: 12px;
}

.submit {
  display: flex;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 25px;
  color: white;
  padding: 6px 30px;
  background:  #4761A3;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
              rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
button:active {
  transform: translateY(2px);
}

/* Forms Styling end */

/* product details start */

.parent{
  display: grid;
}

.details{
    margin-top: 9%;
    margin-bottom: 9%;
    justify-self: center;
    padding:0 16px;
    width: 670px;
    background: #ffffff;
    border: rgba(123, 120, 161, 0.13) solid 1px;
    border-radius: 30px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    padding: 20px;
}

.wish{
  color: #4761A3;
  cursor: pointer;
}
.wish:hover{
  color:rgb(160, 23, 23);
}

.details img{
  width: 330px;
  justify-self: center;
}

/* product details end */

/* wish list start  */
.wishpage{
  justify-content: center;
  display: grid;
  row-gap: 10px;
  margin: 10%;

}
.wishbtn{
  display: grid;
}
.wishes{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 20px;
}

.wishcard{
  width: 280px;
  /* height: 350px; */
  background: #ffffff;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  border-radius: 30px;
  display: grid;
  grid-template-rows: 230px 70px 70px;
  padding: 20px;
  justify-content: center;
}

.watch button {
  width: 100px;
}

#back{
  width: 200px;
  padding: 8px;
  justify-self: center;
}

#delete{
  background-color: #4761A3;
  color: #ffffff;
  width: 95px;
  height: 20px;
  justify-self: center;
  border-radius: 10px;
  border: 0px
}
#update{
  background-color: #4761A3;
  color: #ffffff;
  width: 95px;
  height: 20px;
  justify-self: center;
  border-radius: 10px;
  border: 0px;
  margin: 10px 0 0;
}

/* wish list end */

/*Admin page start*/

.admin-page {
  justify-content: center;
  display: grid;
  row-gap: 10px;
  margin: 10%;
}
.admin-card {
  width: 280px;
  height: 350px;
  background: #ffffff;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  border-radius: 30px;
  display: grid;
  padding: 20px;
  justify-content: center;
}
.admin-btn a{
  display: grid;
  color: #4761A3;
  text-decoration: none;
  
}
.admin-btnn {
  justify-self: center;
  align-self: center;
  font-size: 40px;
}

.admin-btnn p{
  font-size: 40px;
}


/*Admin page end*/

@media (max-width: 810px), (max-width: 1368px) {
  .card{
    width: 250px;
  }
  .container{
    margin-left:22%;
  }
  label {
    padding: 2px;
  }
  .filter{
    width: 250px;
    grid-template-rows: 50px 230px 180px 70px;
  }
  .card p{
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 260px; 
    height: 1.2em; 
    white-space: nowrap;
    font-size: 14px;
  }
}

@media (max-width: 1185px) {
  .cards{
  grid-template-columns: auto auto;}

  .container{
    margin-left:28%;
    margin-top: 14%;
  }

  .filter{
    width: 230px;
    padding-top: 8%;
    grid-template-rows: 40px 160px 140px 50px;
  }
  #bord{
    font-size: 12px;
  }
    label {
      padding: 0px;
      font-size: 12px;
    }
    #filtering{
      padding: 3px;
      width: 130px;
    }
}

@media (max-width: 911px) {

  .cards{
    grid-template-columns: auto ;
  justify-items: center;}

  .container{
    margin-left:0;
    margin-top: 24%;
  }

  .filter{
    display: none;
  }


}
