.m_header{
    position:fixed;
    
    width:100%;
    height:50px;
    position:fixed;
    top:0;
    /* background-color: rgb(221, 220, 220); */
    left:0;
    color: white;
    }
  
  /* .navge{

    margin-left: 8px;

  } */

  
    .m_header ul.navge{
    /* margin:0; */
    margin-left: 8px;

    }
    a{
       
            display: block;
            padding: 10
        px
        ;
            position: relative;
            font-family: Poppins;
            color: #000;
            letter-spacing: 0.015625em;
       }
    .m_header ul.navge li{
    color:white;
    font-size:1.1em;
    display:inline-block;
    padding:10px;
    width:90px;
    }
     .m_header ul.navge li:hover{
     background-color:rgb(255, 255, 255);
     color:yellow;
     }
     
     .m_nav{
      position:fixed;
     margin-top:16px;
     font-size:1em;
     color: rgba(0, 0, 0, 0.5); 
    text-align: left;}
  
  
    .iconn{font-size: 2em;}